@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia&display=swap');


/* DELETE LATER!!!! */
iframe {
    grid-column: 1/-1;
    border: none;
}

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #255D28;
    --primaryTransparentColor: rgba(36, 92, 39, 50%);
    --secondaryColor: #C43722;
    --secondaryTransparentColor: rgba(195, 56, 34, 50%);
    --interactableColor: #003150;
    --interactableTransparentColor: rgba(0, 50, 82, 50%);
    --textbackgroundColor: rgba(0, 0, 0, 35%);
    --hoverButtonColor: #1a4f70;
    --backgroundColor: #ffffff;

    --baseTextDarkColor: #141F14;
    --baseTextLightColor: #FFFFFF;

    /* TEXT SIZES */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 15px;
    --mediumSpacing: 20px;
    --largeSpacing: 30px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 3px;

}

/* --- GENERALS --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-wrap: balance;
}

.fullWidth {
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;
}

/* Primary background colour Box */
/* Solid */
.primarySolidBackgroundBox {
    background: var(--primaryColor);
}

/* Transparent */
.primaryTransparentBackgroundBox {
    background: var(--primaryTransparentColor);
}

/* Secondary background colour Box */
/* Solid */
.secondarySolidBackgroundBox {
    background: var(--secondaryColor);
}

/* Transparent */
.secondaryTransparentBackgroundBox {
    background: var(--secondaryTransparentColor);
}

/* Interactible Background colour Box */
/* Transparent */
.interactiveTransparentBackgroundBox {
    background: var(--interactableTransparentColor);
}


body {
    margin: 0;

    font-family: Calibri, sans-serif;
}

main {
    display: grid;
    grid-template-columns: var(--standardSpacing) repeat(4, 1fr) var(--standardSpacing);
    grid-template-rows: auto;
}

section {
    grid-column: 2/-2;
}

a {
    color: var(--interactableColor);
    font-weight: 700;
}

.abningstiderContainer {
    display: grid;
    grid-template-columns: .7fr 1fr;
    gap: var(--standardSpacing);
    padding: var(--smallSpacing);
    align-items: center;
}

/* ---GRID ITEMS--- */
/* forside*/
.introForside,
.abningstidForside,
.legeomrader,
.parkering,
.transport,
.eventsForside,
.lysEvent,
.mortensAften,
.praktiskInfoMad {
    background: var(--primaryTransparentColor);
}

.eventsForside {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.eventsForside .slide {
    height: auto;
}

/* ---BODER--- */
/* BODER CARD */
.bentoBodContainer {
    grid-column: 1/-1;
}

.bodCard {
    /* hardcoded min width to keep "pretty" */
    min-width: 350px;
    display: flex;
    padding: var(--largeSpacing) var(--mediumSpacing);
    gap: var(--mediumSpacing);

}

/* Bod udstillere billede */
.bodCard img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    filter: drop-shadow(3px 3px 3px var(--textbackgroundColor));
}

/* Billede af oversigt over boder */
.bodKort {
    margin: 0 0 var(--largeSpacing) 0;
}

/* Left aligned text - Bod Card */
.bodCard,
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    text-align: left;
}

/* justering af h2 og h3 afstand, bibeholder afstand til p*/
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    margin: 0 0 var(--standardSpacing) 0;
}

/* justering af h2 margin, overwrite default afstand*/
.bodInfo h2 {
    margin: 0;
}



/* Flex direction, giver variation mellem udstillere */
.bodCard.bodRight,
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    flex-direction: row-reverse;
}

/* justering af knap, så den passer boderne og mock up bedre */
.bodCard .btn {
    margin: 0;
    font-size: .9rem;
    width: 180px;
}

/* BENTO PYNTE BILLEDER */
/* BENTO BOX */
.bodBentoMobil {
    /* hardcoded min width to keep "pretty" */
    min-width: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--smallSpacing);
    margin: var(--smallSpacing);
}

.bodBentoMobil .imgContainer {
    max-height: 130px;
}

.bodBentoMobil img {
    object-fit: cover;
    object-position: center;
    border-radius: var(--borderRadius);
}

/* BENTO BILLEDE 1 */
.bodBentoMobil div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* BENTO BILLEDE 2 */
.bodBentoMobil div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* BENTO BILLEDE 3 */
.bodBentoMobil div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    min-height: 270px;
}

/* BENTO BILLEDE 4 */
.bodBentoMobil div:nth-child(4) {
    max-height: 130px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.bodBentoDesktop {}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    grid-column: 2 / -2;
    text-align: center;
    margin: var(--smallSpacing) 0;
}

h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

h3 {
    font-size: .9rem;
    /* color: var(--primaryColor); --- usikker på om farven virker*/
}

p {
    line-height: 1.5;
    grid-column: 2/-2;
    text-align: center;
    margin: var(--smallSpacing) 0;

}

.lightText {
    color: var(--baseTextLightColor);
}

.title {
    font-family: 'Sofia', cursive;
    font-size: var(--titleSizeMobile);
    text-transform: none;
}

.invitationForside .inviTitle {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.longText {
    text-align: left;
}

.invitationForside .callOut,
.madArrangementer .callOut {
    background: var(--primaryTransparentColor);
    padding: var(--smallSpacing);
    border: 2px solid var(--primaryColor);
    color: var(--baseTextLightColor);
    border-radius: var(--borderRadius);

}

.textBackground {
    background: var(--textbackgroundColor);
    color: var(--baseTextLightColor);
    position: relative;
    top: -100px;
}

.bottomImg h2 {
    text-align: center;

    font-weight: 700;
}

.price {
    position: relative;
    left: 250px;
    font-weight: 700;
}

.mortensAften p,
.praktiskInfoMad p {
    padding: var(--smallSpacing);
}

/* --- BUTTONS --- */
.btn {
    background: var(--interactableColor);
    padding: var(--smallSpacing) var(--largeSpacing);
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 5px #00000078;
    text-align: center;
    margin: var(--standardSpacing) var(--standardSpacing) var(--xLargeSpacing) var(--standardSpacing);
    text-transform: uppercase;
    display: block;
}

.btn:hover {
    background: var(--hoverButtonColor);
}

.center.btn {
    margin-left: var(--xLargeSpacing);
    margin-right: var(--xLargeSpacing);
}

.invitationForside .btn {
    display: none;
}

.accordionFood .btn {
    grid-column: 1 / -1;
}


/* --- IMAGES --- */
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgContainer {
    grid-column: 1 / -1;
    height: 200px;
}

.imgContainer.brevDesktop {
    display: none;
}

.imgContainer.brevMobil {
    height: 100%;
}

.eventsForside .imgContainer {
    display: block;
    height: 300px;
}

.billetsalgForside img {
    display: none;
}

.abningstider img {
    max-width: 100%;
}

/* --- NAVBAR --- */
.navbar {
    grid-column: 1/-1;
    display: flex;
    border-bottom: 1px solid var(--textbackgroundColor);
    position: sticky;
    top: 0;
    background: var(--backgroundColor);
    z-index: 100;
}

.navbar h1 {
    margin: 0;
}

.navbar h2 {
    margin: var(--smallSpacing);
    font-size: 1rem;
}

.navbar a {
    text-decoration: none;
}

a.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--baseTextDarkColor)
}

.navbar li {
    list-style-type: none;
    border-bottom: 1px dashed var(--baseTextDarkColor);
}

.navbar .logo {
    max-width: 100%;
    text-align: center;
}

.navbar .logo img {
    max-width: 60%;
}

.navbar label {
    width: 40px;
    background: none;
    border: none;
    position: absolute;
    right: var(--smallSpacing);
    top: var(--largeSpacing);
    cursor: pointer;
}

.navbar input[type=checkbox] {
    position: absolute;
    top: -999px;
    left: -999px;
}

input[type=checkbox]:checked~nav {
    display: grid;
}

.navbar nav {
    display: none;
    position: absolute;
    background: var(--backgroundColor);
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: var(--mediumSpacing);
    z-index: 100;
}

.nav ul {
    padding-bottom: var(--mediumSpacing);
}

/* --- HERO --- */

#hero {
    text-align: center;
    height: 50vh;
    grid-column: 1/-1;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slide-wrapper {
    width: 300%;
    /* 100% pr image in the slideshow*/
    animation: slide 30s ease infinite;
}

.slide {
    float: left;
    height: 50vh;
    width: 33.33%;
    /*100% divided by the number of images*/

}

.slide img {
    /* makes the images responsive */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    90% {
        margin-left: -200%;
    }
}

.sloganContainer {
    background: var(--textbackgroundColor);
    position: relative;
    bottom: 150px;
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-weight: 700;
    padding: var(--standardSpacing);
}



/* --- ACCORDION --- */

/* Core styles/functionality */
.accordion input {
    /* hide checkbox*/
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: all .55s;

}

.accordion input:checked~.accordionContent {
    max-height: 100%;
    /* set height for accordins content to be responsive based on text amount once it has been clicked*/
}

/* Visual styles */
.accordion {
    background: var(--interactableTransparentColor);
    border-bottom: 10px solid var(--interactableColor);
    grid-column: 1 / -1;
}

.accordionFood {
    color: var(--baseTextLightColor);
    border-radius: var(--borderRadius);
    overflow: hidden;
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--smallSpacing);
}

.accordionLabel {

    padding: var(--smallSpacing);
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: var(--interactableColor);
    cursor: pointer;
}

.accordionLabel::after {
    /* creates arrow*/
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    max-height: 50px;
}

.accordion input:checked+.accordionLabel::after {
    transform: rotate(270deg);
}

.accordion p {
    margin: 0;
    padding: var(--smallSpacing) var(--standardSpacing);
    text-align: left;
}

.foodName {
    color: var(--interactableColor);
    font-weight: 700;
}

/* ---TABSECTION--- */
.tabbed {
    display: none;
    overflow-x: hidden;
    /* so we could easily hide the radio inputs */

    padding-bottom: 16px;
    grid-column: 1 / -1;
}

.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

.tab>label {
    display: block;
    padding: 12px 15px;
    background: var(--interactableColor);
    color: var(--baseTextLightColor);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

.tab:hover label {
    border-top-color: white;
    color: var(--baseTextLightColor);
    background: var(--hoverButtonColor);
}

ul.tabs {
    margin: 0;
}

.tab-content {
    display: none;
    color: var(--baseTextLightColor);
    background: var(--interactableTransparentColor);

}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked~.tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked~.tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked~.tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked~.tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked~.tabs .tab:nth-of-type(5) label {
    border-top-color: var(--interactableColor);
    background: var(--interactableTransparentColor);
    color: var(--baseTextLightColor);
}

.tabbed [type="radio"]:nth-of-type(1):checked~.tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked~.tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked~.tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked~.tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked~.tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked~.tab-content:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked~.tab-content:nth-of-type(7) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: var(--xLargeSpacing);
    gap: var(--largeSpacing);
}


/* --- FOOTER --- */
footer {
    grid-column: 1/-1;
    padding: var(--smallSpacing);
    display: flex;
    border-top: 1px solid var(--textbackgroundColor);
    background: var(--backgroundColor);
    align-items: center;
    justify-content: space-between;
    gap: var(--smallSpacing);
}

footer nav {
    display: grid;
    margin: var(--mediumSpacing);

}

footer .contactInfo {
    display: flex;
    gap: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
}

footer p:first-of-type {
    font-weight: bold;
}

footer .icon {
    width: 20px;
}

footer .social img {
    width: 15px;
}

footer p {
    font-size: .9rem;
    margin: 0;
}

footer a {
    margin: .2rem;
    font-size: .9rem;
}


header {
    width: 100%
}



@media screen and (min-width: 900px) {

    /* --- TEXT --- */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }

    h1 {
        font-size: 1.7rem;

    }

    h2 {
        font-size: 1.2rem;

    }

    h3 {
        font-size: 1.1rem;
        /* color: var(--primaryColor); --- usikker på om farven virker*/
    }


    p {
        text-align: left;
    }

    .juleboderEvents p {
        grid-column: 1 / -1;
        margin: var(--mediumSpacing);
    }

    .lysEvent p {
        grid-column: 2 /-1;
        text-wrap: wrap;
        margin: var(--mediumSpacing);
    }

    .abningstidForside .callOut {
        background: var(--secondaryColor);
        position: absolute;
        right: 200px;
        bottom: -200px;
        width: 450px;
        color: var(--baseTextLightColor);
        padding: var(--mediumSpacing) var(--largeSpacing);
        text-align: center;
    }

    .madArrangementer .callOut {
        background: var(--primaryColor);
        position: absolute;
        right: 50px;
        top: -80px;
        width: 450px;
        color: var(--baseTextLightColor);
        padding: var(--mediumSpacing) var(--largeSpacing);
        text-align: center;
    }

    .madArrangementer .callOut h2 {
        text-align: center;
    }

    .invitationForside .inviTitle {
        font-size: 2rem;
    }

    .invitationForside .inviText {
        grid-column: 7/-2;
    }


    .billetsalgForside article {
        display: none;
    }

    .billetsalgForside p {
        grid-column: 8/12;
        align-self: center;
    }

    .madArrangementer h2 {
        grid-column: 1/ -1;
    }

    .madArrangementer p {
        grid-column: 1 / -1;
    }

    .madArrangementer ul {
        grid-column: 1 / -1;
    }



    /* --- NAVBAR --- */
    .navbar h1 {
        font-size: 4.5rem;
    }

    .navbar .logo img {
        max-width: 30%;
    }

    .navbar .logo:after {
        content: "\276F";
        transform: rotate(90deg);
        font-size: 30px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar:hover nav {
        display: flex;
    }

    .navbar nav {
        background: white;
        padding: 0;
    }

    .navbar ul {
        width: 40%;
        padding: 0;
        padding-bottom: var(--standardSpacing);
    }

    /* --- FOOTER --- */
    footer nav {
        grid-template-columns: repeat(4, 1fr);
    }

    footer>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 50%;
    }

    footer .contactInfo {
        grid-row: 2;
        width: 100%;
    }

    /* --- HERO --- */
    .sloganContainer {
        font-size: 1.6rem;
        left: var(--xLargeSpacing);
        bottom: 400px;
        width: 400px;
        padding: var(--mediumSpacing);
        z-index: 0;
    }

    .sloganContainer p {
        margin: 0;
    }

    /* --- GENERALS --- */
    main {
        grid-template-columns: repeat(12, 1fr);
        text-wrap: wrap;

    }

    main>*,
    .fullWidth {
        grid-column: 2/-2;
    }



    .accordion {
        display: none;
    }

    .tabbed {
        display: block;
    }

    .kort ul {
        display: flex;
        gap: var(--xLargeSpacing)
    }

    .gruppePriser {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--mediumSpacing);
        padding: var(--largeSpacing);
    }
    .bookMadAbning{
        display: none;
    }
    .endImgAbning{
        display: block;
    }

    /* --- GRID ITEMS --- */
    .introForside,
    .abningstidForside,
    .eventsForside,
    .legeomrader,
    .parkering,
    .transport {
        background: none;
    }

    .invitationForside,
    .billetsalgForside,
    .juleboderEvents {
        background: var(--primaryTransparentColor);
    }

    .invitationForside {
        grid-column: 1/-1;
        display: grid;
        gap: var(--xLargeSpacing);
        grid-template-columns: repeat(12, 1fr);
        padding: 150px 0;
        row-gap: var(--smallSpacing);
    }

    .billetsalgForside {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .billetsalgForside>* {
        grid-column: 2/-2;
    }

    .toiletter,
    .legeomrader,
    .dyrIparken,
    .parkering,
    .tilgaengelighed {
        grid-column: 2/7;
    }

    .transport {
        grid-column: 7/12;
        grid-row: 6/7;
    }



    .lysEvent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column: 1/ 7;
    }

    .juleboderEvents {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column: 7 / -1;
    }

    .mortensAften article {
        grid-column: 2 / 7;
        grid-row: 1;
    }

    .madArrangementer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;
    }

    .mortensAften {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: var(--largeSpacing) 0;
        grid-column: 1 / -1;
        gap: var(--largeSpacing);
    }

    .praktiskInfoMad {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 1 / -1;
        gap: var(--largeSpacing);
        padding: var(--largeSpacing) 0;
    }

    .praktiskInfoMad article {
        grid-column: 2 / 7;
        grid-row: 1;
    }

    .abningstider {
        grid-column: 2/5;
        padding: var(--largeSpacing);
        position: relative;
        top: -40px;
        left: 50px;
    }

    .abningstiderContainer {
        grid-template-columns: 1fr .5fr;
    }

    .generalEntre {
        grid-column: 7/12;
        align-self: center;
    }

    .gruppePriser {
        grid-row: 5/6;
    }

    .grupper {
        grid-column: 2/5;

    }

    .storGrupper {
        grid-column: 5/8;
    }

    .arskort {
        grid-column: 8/12;
        grid-row: 5/6;
    }

    /* --- IMAGES --- */

    .imgContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .imgContainer {
        grid-column: 2 / -2;
        height: 300px;
    }

    .imgContainer.brevMobil {
        display: none;
    }

    .imgContainer.imgContainer.brevDesktop {
        display: grid;
        grid-column: 2/7;
    }

    .imgContainer.bottomImg {
        position: relative;
        bottom: 50px;
        grid-column: 2/-2;
    }

    .lysEvent .imgContainer {
        grid-column: 2/ -1;
        margin-right: var(--smallSpacing);
    }

    .juleboderEvents .imgContainer {
        grid-column: 1 /-2;
        margin-left: var(--smallSpacing);
    }

    .mortensAften .imgContainer {
        grid-column: 7 / 12;
        grid-row: 1;
        height: 100%;
    }

    .praktiskInfoMad .imgContainer {
        grid-column: 7 / 12;
        grid-row: 1;
        height: 100%;
    }

    .billetsalgForside img {
        display: inline;
        max-width: 100%;
    }

    .dyrIparken+.imgContainer {
        grid-column: 7/12;
        grid-row: 3/6;
        padding: var(--standardSpacing) 0;

    }

    .kort .imgContainer {
        height: 50vh;
    }

    .abningstider img {

        max-width: 300%;

    }

    /* --- BUTTONS --- */
    .abningstidForside .btn {
        margin: var(--smallSpacing) 0 var(--largeSpacing) 0;
        width: 200px;

    }

    .invitationForside .btn {
        margin: var(--smallSpacing);
    }

    .invitationForside .btn1 {
        grid-column: 7/9;
    }

    .invitationForside .btn2 {
        grid-column: 10/12;
    }

    .billetsalgForside .btn {
        grid-column: 2/8;
    }

    .lysEvent .btn {
        grid-row: 3;
        grid-column: 2/ 7;

    }

    .juleboderEvents .btn {
        grid-row: 3;
        grid-column: 1/ 6;
    }

    .accordionFood .btn {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .mortensAften .btn {
        grid-column: 2/ 7;
    }

    .madArrangementer .btn {
        grid-column: 1/ 4;
    }

    .praktiskInfoMad .btn {
        grid-column: 2 / 7;
    }

    .praktiskInfoMad .kontrolrapporten {
        grid-column: 7 / 12;
    }

    /* --- EVENTS FORSIDE --- */

    .eventsForside .slide-wrapper {
        width: 100%;
        animation: none;
        display: flex;
        justify-content: center;
    }

    .eventsForside .slide {

        width: 31%;
        margin: var(--smallSpacing);
    }

    /* --- BENTO BOD --- */
    .bodCard {
        max-width: 100%;
        max-height: 100%;
        min-width: auto;
    }

    .bodKort {
        height: 500px;
    }

    .bodCard.bodRight,
    .bodInfo p,
    .bodInfo h2,
    .bodInfo h3 {
        flex-direction: initial;
    }

    .bodBentoMobil {
        margin: var(--smallSpacing) 0;

    }

    .bentoBodContainer {
        grid-column: 2/-2;
        display: grid;
        gap: var(--smallSpacing);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;

    }

    .bentoBodContainer article:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/2;
        flex-direction: column;
    }

    .bentoBodContainer article:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/4;
    }

    .bentoBodContainer article:nth-child(3) {
        grid-row: 2/4;
        grid-column: 2/4;
    }

    .bentoBodContainer article:nth-child(4) {
        grid-row: 1/3;
        grid-column: 4/5;
        flex-direction: column;
    }
}