@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia&display=swap');


/* DELETE LATER!!!! */
iframe {
    grid-column: 1/-1;
    border: none;
}

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #255D28;
    --primaryTransparentColor: rgba(36, 92, 39, 50%);
    --secondaryColor: #C43722;
    --secondaryTransparentColor: rgba(195, 56, 34, 50%);
    --interactableColor: #003150;
    --interactableTransparentColor: rgba(0, 50, 82, 50%);
    --textbackgroundColor: rgba(0, 0, 0, 25%);

    --baseTextDarkColor: #141F14;
    --baseTextLightColor: #FFFFFF;

    /* TEXT SIZES */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 15px;
    --mediumSpacing: 20px;
    --largeSpacing: 30px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 3px;

}

/* --- GENERALS --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-wrap: balance;
}

.fullWidth {
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;
}

/* Primary background colour Box */
/* Solid */
.primarySolidBackgroundBox {
    background: var(--primaryColor);
}

/* Transparent */
.primaryTransparentBackgroundBox {
    background: var(--primaryTransparentColor);
}

/* Secondary background colour Box */
/* Solid */
.secondarySolidBackgroundBox {
    background: var(--secondaryColor);
}

/* Transparent */
.secondaryTransparentBackgroundBox {
    background: var(--secondaryTransparentColor);
}

/* Interactible Background colour Box */
/* Transparent */
.interactiveTransparentBackgroundBox {
    background: var(--interactableTransparentColor);
}


body {
    margin: 0;

    font-family: Calibri, sans-serif;
}

main {
    display: grid;
    grid-template-columns: var(--standardSpacing) repeat(4, 1fr) var(--standardSpacing);

}

section {
    grid-column: 2/-2;
}

a {
    color: var(--interactableColor);
    font-weight: 700;
}


/* ---BODER--- */
/* BODER CARD */
.bodCard {
    /* hardcoded min width to keep "pretty" */
    min-width: 350px;
    display: flex;
    padding: var(--largeSpacing) var(--mediumSpacing);
    gap: var(--mediumSpacing);
}

/* Bod udstillere billede */
.bodCard img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    filter: drop-shadow(3px 3px 3px var(--textbackgroundColor));
}

/* Billede af oversigt over boder */
.bodKort {
    margin: 0 0 var(--largeSpacing) 0;
}

/* Left aligned text - Bod Card */
.bodCard,
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    text-align: left;
}

/* justering af h2 og h3 afstand, bibeholder afstand til p*/
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    margin: 0 0 var(--standardSpacing) 0;
}

/* justering af h2 margin, overwrite default afstand*/
.bodInfo h2 {
    margin: 0;
}

/* p linieafstand justering */
.bodInfo p {
    line-height: var(--mediumSpacing);
}

/* Flex direction, giver variation mellem udstillere */
.bodCard.bodRight,
.bodInfo p,
.bodInfo h2,
.bodInfo h3 {
    flex-direction: row-reverse;
}

/* justering af knap, så den passer boderne og mock up bedre */
.bodCard .btn {
    margin: 0;
    font-size: .9rem;
    width: 180px;
}

/* BENTO PYNTE BILLEDER */
/* BENTO BOX */
.bodBentoMobil {
    /* hardcoded min width to keep "pretty" */
    min-width: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--smallSpacing);
    margin: var(--smallSpacing);
}

.bodBentoMobil img {
    max-width: 100%;
    min-height: 130px;
    object-fit: cover;
    object-position: center;
}

/* BENTO BILLEDE 1 */
.bodBentoMobil img:nth-child(1) {

    grid-column: 1 / 2;

}

/* BENTO BILLEDE 2 */
.bodBentoMobil img:nth-child(2) {

    grid-column: 2 / 3;

}

/* BENTO BILLEDE 3 */
.bodBentoMobil img:nth-child(3) {

    grid-column: 3 / 4;
    grid-row: 1 /3;
}

/* BENTO BILLEDE 4 */
.bodBentoMobil img:nth-child(4) {
    grid-column: 1 / 3;
}

.bodBentoDesktop {}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    grid-column: 2 / -2;
    text-align: center;
}

h1 {
    font-size: 1.3rem;
    margin: var(--smallSpacing);
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: var(--smallSpacing);
}

h3 {
    font-size: .9rem;
    /* color: var(--primaryColor); --- usikker på om farven virker*/
}

p {
    line-height: 1.5;
    grid-column: 2/-2;
    text-align: center;
}

.lightText {
    color: var(--baseTextLightColor);
}

.title {
    font-family: 'Sofia', cursive;
    font-size: var(--titleSizeMobile);
    text-transform: none;
}

/* --- BUTTONS --- */
.btn {
    background: var(--interactableColor);
    padding: var(--smallSpacing) var(--largeSpacing);
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 5px #00000078;
    text-align: center;
    margin: var(--standardSpacing) var(--standardSpacing) var(--xLargeSpacing) var(--standardSpacing);
    text-transform: uppercase;
    display: block;
}

.center.btn {
    margin-left: var(--xLargeSpacing);
    margin-right: var(--xLargeSpacing);
}

/* --- IMAGES --- */
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgContainer {
    grid-column: 1 / -1;
    height: 200px;
}

/* --- NAVBAR --- */
.navbar {
    grid-column: 1/-1;
    display: flex;
    border-bottom: 1px solid var(--textbackgroundColor);
    position: sticky;
    top: 0;
    background: var(--backgroundColor);
}

.navbar h1 {
    margin: 0;
}

.navbar h2 {
    margin: var(--smallSpacing);
    font-size: 1rem;
}

.navbar a {
    text-decoration: none;
}

a.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--baseTextDarkColor)
}

.navbar li {
    list-style-type: none;
    border-bottom: 1px dashed var(--baseTextDarkColor);
}

.navbar .logo {
    max-width: 100%;
    text-align: center;
}

.navbar .logo img {
    max-width: 60%;
}

.navbar label {
    width: 40px;
    background: none;
    border: none;
    position: absolute;
    right: var(--smallSpacing);
    top: var(--largeSpacing);
    cursor: pointer;
}

.navbar input[type=checkbox] {
    position: absolute;
    top: -999px;
    left: -999px;
}

input[type=checkbox]:checked~nav {
    display: grid;
}

.navbar nav {
    display: none;
    position: absolute;
    background: var(--backgroundColor);
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: var(--mediumSpacing);
    z-index: 100;
}


/* --- HERO --- */

#hero {
    text-align: center;
    height: 50vh;
    grid-column: 1/-1;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slide-wrapper {
    width: 300%;
    /* 100% pr image in the slideshow*/
    animation: slide 30s ease infinite;
}

.slide {
    float: left;
    height: 50vh;
    width: 33.33%;
    /*100% divided by the number of images*/

}

.slide img {
    /* makes the images responsive */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    90% {
        margin-left: -200%;
    }
}

.sloganContainer {
    background: var(--textbackgroundColor);
    position: absolute;
    bottom: 350px;
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-weight: 700;
}



/* --- ACCORDION --- */

/* Core styles/functionality */
.accordion input {
    /* hide checkbox*/
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: all .55s;

}

.accordion input:checked~.accordionContent {
    max-height: 100%;
    /* set height for accordins content to be responsive based on text amount once it has been clicked*/
}

/* Visual styles */
.accordion {
    background: var(--interactableTransparentColor);
    border-bottom: 10px solid var(--interactableColor);
}

.accordionFood {
    color: var(--baseTextLightColor);
    border-radius: var(--borderRadius);
    overflow: hidden;
    grid-column: 2/-2;
    display: grid;
    gap: var(--smallSpacing);
}

.accordionLabel {

    padding: var(--smallSpacing);
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: var(--interactableColor);
    cursor: pointer;
}

.accordionLabel::after {
    /* creates arrow*/
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    max-height: 50px;
}

.accordion input:checked+.accordionLabel::after {
    transform: rotate(270deg);
}

.accordion p {
    margin: 0;
    padding: var(--smallSpacing) var(--standardSpacing);
    text-align: left;
}

.accordion .foodName {
    color: var(--interactableColor);
    font-weight: 700;
}



/* --- FOOTER --- */
footer {
    grid-column: 1/-1;
    padding: var(--smallSpacing);
    display: flex;
    border-top: 1px solid var(--textbackgroundColor);
    background: var(--backgroundColor);
    align-items: center;
    justify-content: space-between;
    gap: var(--smallSpacing);
}

footer nav {
    display: grid;
    margin: var(--mediumSpacing);

}

footer .contactInfo {
    display: flex;
    gap: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
}

footer p:first-of-type {
    font-weight: bold;
}

footer .icon {
    width: 20px;
}

footer .social img {
    width: 15px;
}

footer p {
    font-size: .9rem;
    margin: 0;
}

footer a {
    margin: .2rem;
    font-size: .9rem;
}


header {
    width: 100%
}

@media screen and (min-width: 900px) {

    /* --- TEXT --- */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }

    h1 {
        font-size: 1.7rem;

    }

    h2 {
        font-size: 1.2rem;

    }

    h3 {
        font-size: 1.1rem;
        /* color: var(--primaryColor); --- usikker på om farven virker*/
    }

    p {
        text-align: left;
    }

    /* --- NAVBAR --- */
    .navbar h1 {
        font-size: 4.5rem;
    }

    .navbar .logo img {
        max-width: 30%;
    }

    .navbar .logo:after {
        content: "\276F";
        transform: rotate(90deg);
        font-size: 30px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar:hover nav {
        display: flex;
    }

    .navbar nav {
        background: white;
        padding: 0;
    }

    .navbar ul {
        width: 40%;
        padding: 0;
    }

    /* --- HERO --- */
    .sloganContainer {
        font-size: 1.6rem;
        left: var(--xLargeSpacing);
        bottom: 550px;
        width: 400px;
        padding: var(--mediumSpacing);
    }

    .sloganContainer p {
        margin: 0;
    }

    /* --- GENERALS --- */
    main {
        grid-template-columns: repeat(12, 1fr);

    }

    main>*,
    .fullWidth {
        grid-column: 2/-2;
    }

    /* --- IMAGES --- */

    .imgContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .imgContainer {
        grid-column: 2 / -2;
        height: 300px;
    }
}