@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia&display=swap');


/* DELETE LATER!!!! */
iframe {
    grid-column: 1/-1;
    border: none;
}

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #255D28;
    --primaryTranparentColor: rgba(36, 92, 39, 50%);
    --secondaryColor: #C43722;
    --secondaryColor: rgba(195, 56, 34, 50%);
    --interactableColor: #003150;
    --interactableTransparentColor: rgba(0, 50, 82, 50%);
    --textbackgroundColor: rgba(0, 0, 0, 45%);

    --baseTextDarkColor: #141F14;
    --baseTextLightColor: #FFFFFF;

    /* TEXT SIZES */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 15px;
    --mediumSpacing: 20px;
    --largeSpacing: 30px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 3px;

}

/* --- GENERALS --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-wrap: balance;
}

.fullWidth {
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;

}

.primaryBackgroundBox {
    background: var(--primaryTranparentColor);
}


body {
    margin: 0;

    font-family: Calibri, sans-serif;
}

main {
    display: grid;
    grid-template-columns: var(--standardSpacing) repeat(4, 1fr) var(--standardSpacing);

}

a {
    color: var(--interactableColor);
    font-weight: 700;
}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    grid-column: 2 / -2;
    text-align: center;
}

h1 {
    font-size: 1.3rem;
    margin: var(--smallSpacing);
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: var(--smallSpacing);
}

h3 {
    font-size: .9rem;
    color: var(--primaryColor);
}

p {
    line-height: 1.5;
    grid-column: 2/-2;
    text-align: center;
}

.title {
    font-family: 'Sofia', cursive;
    font-size: var(--titleSizeMobile);
    text-transform: none;
}

/* --- BUTTONS --- */
.btn {
    background: var(--interactableColor);
    padding: var(--smallSpacing) var(--largeSpacing);
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 5px #00000078;
    text-align: center;
    margin: var(--standardSpacing) var(--standardSpacing) var(--xLargeSpacing) var(--standardSpacing);
    text-transform: uppercase;
}

.eventIntro.btn {
    margin-left: var(--xLargeSpacing);
    margin-right: var(--xLargeSpacing);
}

/* --- IMAGES --- */
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;


}

.imgContainer {
    grid-column: 1 / -1;
    height: 200px;
}

/* --- NAVBAR --- */
.navbar {
    grid-column: 1/-1;
    display: flex;
    border-bottom: 1px solid var(--textbackgroundColor);
    position: sticky;
    top: 0;
    background: var(--backgroundColor);
}

.navbar h1 {
    margin: 0;
}

.navbar h2 {
    margin: var(--smallSpacing);
    font-size: 1rem;
}

.navbar a {
    text-decoration: none;
}

a.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--baseTextDarkColor)
}

.navbar li {
    list-style-type: none;
    border-bottom: 1px dashed var(--baseTextDarkColor);
}

.navbar .logo {
    max-width: 100%;
    text-align: center;
}

.navbar .logo img {
    max-width: 60%;
}

.navbar label {
    width: 40px;
    background: none;
    border: none;
    position: absolute;
    right: var(--smallSpacing);
    top: var(--largeSpacing);
    cursor: pointer;
}

.navbar input[type=checkbox] {
    position: absolute;
    top: -999px;
    left: -999px;
}

input[type=checkbox]:checked~nav {
    display: grid;
}

.navbar nav {
    display: none;
    position: absolute;
    background: var(--backgroundColor);
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: var(--mediumSpacing);
    z-index: 100;
}


/* --- HERO --- */

#hero {
    text-align: center;
    height: 50vh;
    grid-column: 1/-1;
    width: 100%;
    margin: 0 auto;
}

.slide-wrapper {
    width: 300%;
    /* 100% pr image in the slideshow*/
    animation: slide 30s ease infinite;
}

.slide {
    float: left;
    height: 50vh;
    width: 33.33%;
    /*100% divided by the number of images*/

}

.slide img {
    /* makes the images responsive */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    90% {
        margin-left: -200%;
    }
}

.sloganContainer {
    background: var(--textbackgroundColor);
    position: absolute;
    bottom: 350px;
    margin: var(--largeSpacing);
    color: var(--baseTextLightColor);
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-weight: 700;
}



/* --- ACCORDION --- */

/* Core styles/functionality */
.accordion input {
    /* hide checkbox*/
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: all .55s;

}

.accordion input:checked~.accordionContent {
    max-height: 100%;
    /* set height for accordins content to be responsive based on text amount once it has been clicked*/
}

/* Visual styles */
.accordion {
    background: var(--interactableTransparentColor);
    border-bottom: 10px solid var(--interactableColor);
}

.accordionFood {
    color: var(--baseTextLightColor);
    border-radius: var(--borderRadius);
    overflow: hidden;
    grid-column: 2/-2;
    display: grid;
    gap: var(--smallSpacing);
}

.accordionLabel {

    padding: var(--smallSpacing);
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: var(--interactableColor);
    cursor: pointer;
}

.accordionLabel::after {
    /* creates arrow*/
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    max-height: 50px;
}

.accordion input:checked+.accordionLabel::after {
    transform: rotate(270deg);
}

.accordion p {
    margin: 0;
    padding: var(--smallSpacing) var(--standardSpacing);
    text-align: left;
}

.accordion .foodName {
    color: var(--interactableColor);
    font-weight: 700;
}



/* --- FOOTER --- */
footer {
    grid-column: 1/-1;
    padding: var(--smallSpacing);
    display: flex;
    border-top: 1px solid var(--textbackgroundColor);
    background: var(--backgroundColor);
    align-items: center;
    justify-content: space-between;
    gap: var(--smallSpacing);
}

footer nav {
    display: grid;
    margin: var(--mediumSpacing);

}

footer .contactInfo {
    display: flex;
    gap: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
}

footer p:first-of-type {
    font-weight: bold;
}

footer .icon {
    width: 20px;
}

footer .social img {
    width: 15px;
}

footer p {
    font-size: .9rem;
    margin: 0;
}

footer a {
    margin: .2rem;
    font-size: .9rem;
}